# source files
*.ts
!*.d.ts

# config files
.github/
.vscode/
.gitignore
.prettierrc
.prettierignore
jest.config.js
tsconfig.json

# test files
tests/
coverage/

# development files
node_modules/

# misc
*.log

# keep the readme for npm
# readme.md
